<% title_tag [@user.fullname, t('users.menu.topics')].join(' · ') %>

<div class="row grid grid-cols-12 gap-4">
  <%= render "sidebar", user: @user %>
  <div class="col-lg-8 col-span-8">
    <%= render "menu" %>
    <%= render "topics", topics: @topics %>
  </div>
</div>
